@import "Components/variables";

.wrapper {
  container-name: wrapper;
  container-type: inline-size;
  display: grid;
  grid-template-rows: 1fr;
}
.content {
  background: rgb(var(--bg-2));
  // color: white;
  margin: 1rem auto;
  border-radius: 1rem;
  max-width: 60rem;
  width: 100%;
  grid-template-rows: min-content 1fr;
  border: 1px solid rgba(var(--font-color), 0.1);
  position: relative;
  transition: 0.25s margin ease-in-out, 0.25s border-radius ease-in-out;
  .head {
    flex-wrap: wrap;
    grid-gap: 0 0.5rem;
    padding-top: 1rem;
    h2 {
      cursor: pointer;
    }
    .filterBtn {
      margin: auto;
      margin-right: 1rem;
      padding: 0;
      font-size: 1.75rem;
    }
    .filterWrapper {
      width: 100%;
      overflow: hidden;
      flex-basis: 100%;
      margin-top: 1rem;
      .filters {
        padding: 1rem;
        flex-basis: 100%;
        display: grid;
        grid-gap: 0.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        background: linear-gradient(
          45deg,
          $primary-color-dark3 0%,
          $primary-color-dark2 100%
        );
        :global(.light) & {
          background: linear-gradient(
            45deg,
            rgba(var(--primary-clr-dark3), 0.25) 0%,
            rgba(var(--primary-clr-dark2), 0.35) 100%
          );
        }
      }
    }
  }
  .addBtn {
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    bottom: 1rem;
    width: 2em;
    height: 2em;
    display: grid;
    place-items: center;
    padding: 0;
    transform: translateY(4.5rem);
    transition: 0.25s transform ease-in-out;
    &.show {
      transform: translateY(0);
    }
  }
}
.addForm {
  .groups {
    display: grid;
    grid-gap: 1rem;
    h3 {
      margin-bottom: -0.5rem;
    }
    .permissionErr {
      color: red;
      font-size: 0.8rem;
    }
    .group {
      display: grid;
      grid-gap: 0.5rem;
      padding: 0.5rem;
      padding-bottom: 0.75rem;
      border-radius: 0.5rem;
      background: rgba(var(--font-color), 0.01);
      border: 1px solid rgba(var(--font-color), 0.05);
      :global(.light) & {
        background: rgba(var(--font-color), 0.03);
        border: 1px solid rgba(var(--font-color), 0.1);
      }
      .groupLabel {
        display: block;
      }
      .permissions {
        margin-left: 1rem;
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(140px, 150px));
        .checkbox {
          // cursor: pointer !important;
          label {
            cursor: pointer !important;
          }
        }
        input[type="checkbox"] {
          cursor: pointer !important;
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}

.addFormModal {
  width: 100%;
  max-width: 62rem;
}

@container wrapper (max-width: 980px) {
  .content {
    margin: 0;
    border-radius: 0;
    max-width: 100%;
    border: none;
  }
}

@media only screen and (max-width: 480px) {
  .content {
    border-radius: 0;
    margin: 0;
    .head {
      // padding: 1rem 0;
      .filterWrapper {
        border-top: 1px solid rgba(#fff, 0.03);
      }
    }
    .data {
      margin: 0;
      border: none;
    }
  }
  .addForm {
    .groups {
      .group {
        .permissions {
          margin-left: 0;
        }
      }
    }
  }
}
